<template>
  <article class="post-detail">
    <header class="post-detail__header">
      <div class="post-detail__title">
        <h1>{{ post.title }}</h1>
        <nuxt-link to="/"><i class="el-icon-back"></i></nuxt-link>
      </div>
      <div class="post-detail__info">
        <small>
          <i class="el-icon-time"></i>
          {{ post.date }}
        </small>
        <small>
          <i class="el-icon-view"></i>
          {{ post.views }}
        </small>
      </div>
      <div class="post-detail__image">
        <img :src="post.imageUrl" alt="post image" class="post__image" />
      </div>
    </header>
    <main class="post-detail__content">
      <vue-markdown>
        {{ post.text }}
      </vue-markdown>
    </main>
    <footer>
      <CommentForm v-if="canAddComment" @created="createPost" />
      <div v-if="post.comments.length" class="post-detail__comments">
        <SingleComment v-for="comment of 4" :key="comment" />
      </div>
      <div v-else class="text-center">No comments here!</div>
    </footer>
  </article>
</template>

<script>
export default {
  name: 'Post',
  validate({ params }) {
    return !!params.id
  },
  async asyncData({ store, params }) {
    const post = await store.dispatch('post/fetchPost', params.id)
    return { post }
  },
  data() {
    return {
      canAddComment: true,
    }
  },
  methods: {
    createPost() {
      this.canAddComment = false
    },
  },
}
</script>

<style lang="scss">
.post-detail {
  max-width: 600px;
  margin: 0 auto;

  &__header {
    margin-bottom: 1.5rem;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  &__content {
    margin-bottom: 1.5rem;
  }
}
</style>
