<template>
  <div class="create-post">
    <h1 class="mb">Create new post</h1>
    <el-form
      ref="form"
      :model="controls"
      :rules="rules"
      @submit.native.prevent="submitForm('form')"
    >
      <el-form-item label="Title" prop="title">
        <el-input v-model="controls.title" />
      </el-form-item>
      <el-form-item label="Text (.md or .html)" prop="text">
        <el-input
          v-model="controls.text"
          type="textarea"
          resize="none"
          :rows="10"
        />
      </el-form-item>

      <el-button class="mb" type="success" plain @click="dialogVisible = true">
        Show preview
      </el-button>

      <el-dialog title="Preview" :visible.sync="dialogVisible">
        <div :key="controls.text">
          <vue-markdown>{{ controls.text }}</vue-markdown>
        </div>
      </el-dialog>

      <el-upload
        ref="upload"
        class="mb"
        drag
        action="https://jsonplaceholder.typicode.com/posts/"
        :on-change="handleImageChange"
        :auto-upload="false"
      >
        <i class="el-icon-upload"></i>
        <div class="el-upload__text">
          Drop file here or <em>click to upload</em>
        </div>
        <div class="el-upload__tip" slot="tip">
          jpg/png files with a size less than 500kb
        </div>
      </el-upload>

      <el-form-item>
        <el-button type="primary" :loading="loading" round native-type="submit">
          Create Post
        </el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  name: 'PageAdminCreate',
  layout: 'admin',
  data() {
    return {
      image: null,
      dialogVisible: false,
      loading: false,
      controls: {
        text: '',
        title: '',
      },
      rules: {
        text: [
          {
            required: true,
            message: 'Please enter text',
            trigger: 'blur',
          },
        ],
        title: [
          {
            required: true,
            message: 'Please enter title',
            trigger: 'blur',
          },
        ],
      },
    }
  },
  methods: {
    handleImageChange(file, fileList) {
      this.image = file.raw
    },
    submitForm(formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid && this.image) {
          this.loading = true
          const formData = {
            text: this.controls.text,
            title: this.controls.title,
            image: this.image,
          }
          try {
            await this.$store.dispatch('post/create', formData)
            this.$message.success('Post created successfully!')
            this.controls.text = ''
            this.controls.title = ''
            this.image = null
            this.$refs.upload.clearFiles()
          } catch (error) {
            this.$message.error('Could not create post')
          } finally {
            this.loading = false
          }
        } else {
          this.$message.error('The form is not valid!')
        }
      })
    },
  },
}
</script>

<style lang="scss">
.create-post {
  max-width: 600px;
}
</style>
