<template>
  <el-table :data="posts" style="width: 100%;">
    <el-table-column prop="title" label="Name" />
    <el-table-column label="Date">
      <template slot-scope="scope">
        <i class="el-icon-time"></i>
        <span style="margin-left: 10px;">
          {{ new Date(scope.row.date).toLocaleString() }}
        </span>
      </template>
    </el-table-column>
    <el-table-column label="Views">
      <template slot-scope="scope">
        <i class="el-icon-view"></i>
        <span style="margin-left: 10px;">
          {{ scope.row.views }}
        </span>
      </template>
    </el-table-column>
    <el-table-column label="Comments">
      <template slot-scope="scope">
        <i class="el-icon-message"></i>
        <span style="margin-left: 10px;">
          {{ scope.row.comments.length }}
        </span>
      </template>
    </el-table-column>
    <el-table-column label="Operations">
      <template slot-scope="scope">
        <el-tooltip effect="dark" content="Edit Post" placement="top">
          <el-button
            type="primary"
            icon="el-icon-edit"
            circle
            @click="handleEdit(scope.row._id)"
          />
        </el-tooltip>
        <el-tooltip effect="dark" content="Delete Post" placement="top">
          <el-button
            icon="el-icon-delete"
            type="danger"
            circle
            @click="handleDelete(scope.row._id)"
          />
        </el-tooltip>
      </template>
    </el-table-column>
  </el-table>
</template>

<script>
export default {
  name: 'PageAdminList',
  layout: 'admin',
  async asyncData({ store }) {
    const posts = await store.dispatch('post/fetchAdminPosts')
    return { posts }
  },
  methods: {
    handleEdit(postId) {
      this.$router.push(`/admin/post/${postId}`)
    },
    async handleDelete(postId) {
      try {
        await this.$confirm('Delete Post?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        })
        this.$store.dispatch('post/remove', postId)
        this.$message.success('Post deleted successfully!')
        this.posts = this.posts.filter((p) => p._id !== postId)
      } catch (error) {}
      console.log('remove', postId)
    },
  },
}
</script>

<style lang="scss"></style>
