<template>
  <el-card shadow="always" :style="{ width: '500px' }">
    <el-form
      ref="form"
      :model="controls"
      :rules="rules"
      @submit.native.prevent="submitForm('form')"
    >
      <h2>Login to admin panel</h2>
      <el-form-item label="Login" prop="login">
        <el-input v-model.trim="controls.login" />
      </el-form-item>

      <div class="mb2">
        <el-form-item label="Password" prop="password">
          <el-input v-model.trim="controls.password" type="password" />
        </el-form-item>
      </div>

      <el-form-item>
        <el-button type="primary" :loading="loading" round native-type="submit">
          Login
        </el-button>
      </el-form-item>
    </el-form>
  </el-card>
</template>

<script>
export default {
  name: 'PageAdminLogin',
  layout: 'empty',
  data() {
    return {
      loading: false,
      controls: {
        login: '',
        password: '',
      },
      rules: {
        login: [
          {
            required: true,
            message: 'Please enter your login',
            trigger: 'blur',
          },
        ],
        password: [
          {
            required: true,
            message: 'Please enter your password',
            trigger: 'blur',
          },
          {
            min: 6,
            message: 'Password should be at least 6 symbols',
            trigger: 'blur',
          },
        ],
      },
    }
  },
  mounted() {
    const { message } = this.$route.query

    switch (message) {
      case 'login':
        this.$message.info('First log in!')
        break
      case 'logout':
        this.$message.success('Logout successfully!')
        break
      case 'session':
        this.$message.warning(
          'Your session has been exipred! Please log in again'
        )
        break
    }
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          this.loading = true
          const formData = {
            login: this.controls.login,
            password: this.controls.password,
          }
          try {
            await this.$store.dispatch('auth/login', formData)
            this.$router.push('/admin')
          } catch (error) {
            this.loading = false
          }
        } else {
          return false
        }
      })
    },
  },
}
</script>

<style lang="scss"></style>
