<template>
  <div>
    <h1>Clearing credentials...</h1>
  </div>
</template>

<script>
export default {
  name: 'PageAdminLogout',
  layout: 'admin',
  beforeCreate() {
    this.$store.dispatch('auth/logout')
    this.$router.push('/admin/login?message=logout')
  },
}
</script>

<style lang="scss"></style>
