<template>
  <div class="create-user">
    <el-form
      ref="form"
      :model="controls"
      :rules="rules"
      @submit.native.prevent="submitForm('form')"
    >
      <h2>Create user</h2>
      <el-form-item label="Login" prop="login">
        <el-input v-model.trim="controls.login" />
      </el-form-item>

      <div class="mb2">
        <el-form-item label="Password" prop="password">
          <el-input v-model.trim="controls.password" type="password" />
        </el-form-item>
      </div>

      <el-form-item>
        <el-button type="primary" :loading="loading" round native-type="submit">
          Create
        </el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  name: 'PageAdminUser',
  layout: 'admin',
  data() {
    return {
      loading: false,
      controls: {
        login: '',
        password: '',
      },
      rules: {
        login: [
          {
            required: true,
            message: 'Please enter your login',
            trigger: 'blur',
          },
        ],
        password: [
          {
            required: true,
            message: 'Please enter your password',
            trigger: 'blur',
          },
          {
            min: 6,
            message: 'Password should be at least 6 symbols',
            trigger: 'blur',
          },
        ],
      },
    }
  },
  mounted() {
    const { message } = this.$route.query

    switch (message) {
      case 'login':
        this.$message.info('First log in!')
        break
      case 'logout':
        this.$message.success('Logout successfully!')
    }
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          this.loading = true
          const formData = {
            login: this.controls.login,
            password: this.controls.password,
          }
          try {
            await this.$store.dispatch('auth/createUser', formData)
            this.$message.success('New user created!')
            this.controls.login = ''
            this.controls.password = ''
            this.loading = false
          } catch (error) {
            this.loading = false
          }
        } else {
          return false
        }
      })
    },
  },
}
</script>

<style lang="scss">
.create-user {
  max-width: 600px;
}
</style>
