<template>
  <el-form
    ref="form"
    :model="controls"
    :rules="rules"
    @submit.native.prevent="submitForm('form')"
  >
    <h2>Add Comment</h2>
    <el-form-item label="Your Name" prop="name">
      <el-input v-model.trim="controls.name" />
    </el-form-item>

    <el-form-item label="Your comment" prop="text">
      <el-input
        v-model.trim="controls.text"
        type="textarea"
        resize="none"
        :rows="2"
      />
    </el-form-item>

    <el-form-item>
      <el-button type="primary" :loading="loading" round native-type="submit">
        Create
      </el-button>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  name: 'CommentForm',
  data() {
    return {
      loading: false,
      controls: {
        name: '',
        text: '',
      },
      rules: {
        name: [
          {
            required: true,
            message: 'Please input your name',
            trigger: 'blur',
          },
        ],
        text: [
          {
            required: true,
            message: 'Please enter your message',
            trigger: 'blur',
          },
        ],
      },
    }
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.loading = true
          // const formData = {
          //   name: this.controls.name,
          //   text: this.controls.text,
          // }
          try {
            setTimeout(() => {
              this.$message.success('Yor comment added!')
              this.$emit('created')
              this.loading = false
            }, 1000)
          } catch (error) {
            this.loading = false
          }
        } else {
          return false
        }
      })
    },
  },
}
</script>

<style lang="scss"></style>
