<template>
  <nav class="nav">
    <h2>Blog</h2>
  </nav>
</template>

<script>
export default {
  name: 'MainNavigation',
}
</script>

<style lang="scss">
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-bottom: 1px solid #000;
}
</style>
