<template>
  <el-card class="post" shadow="hover" :body-style="{ padding: 0 }">
    <header slot="header" class="post__header">
      <h3>{{ post.title }}</h3>
      <small>
        <i class="el-icon-time"></i>
        {{ post.date }}
      </small>
    </header>
    <div class="post__body">
      <img :src="post.imageUrl" alt="post image" class="post__image" />
    </div>
    <footer class="post__footer">
      <el-button round @click="openPost">Open Post</el-button>
      <span>
        <i class="el-icon-message">{{ post.comments.length }}</i>
      </span>
    </footer>
  </el-card>
</template>

<script>
export default {
  name: 'SinglePost',
  props: {
    post: {
      type: Object,
      default: () => ({}),
    },
  },
  methods: {
    openPost() {
      const id = this.post._id
      this.$router.push(`/post/${id}`)
    },
  },
}
</script>

<style lang="scss">
.post {
  margin-bottom: 1.5rem;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
}
</style>
