<template>
  <el-card class="comment">
    <div class="comment__header">
      <span class="comment__name">Person Name</span>
      <span>
        <i class="el-icon-time"></i> {{ new Date().toLocaleString() }}
      </span>
    </div>
    <div class="comment__text">
      Lorem ipsum dolor sit amet.
    </div>
  </el-card>
</template>

<script>
export default {
  name: 'SingleComment',
}
</script>

<style lang="scss">
.comment {
  margin-bottom: 1rem;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
  }

  &__text {
    white-space: pre-line;
  }
}
</style>
