<template>
  <div class="admin-post">
    <el-breadcrumb separator="/" class="mb">
      <el-breadcrumb-item :to="{ path: '/admin/list' }">
        Posts
      </el-breadcrumb-item>
      <el-breadcrumb-item>{{ post.title }}</el-breadcrumb-item>
    </el-breadcrumb>
    <el-form
      ref="form"
      :model="controls"
      :rules="rules"
      @submit.native.prevent="submitForm('form')"
    >
      <h2>Edit Post</h2>
      <el-form-item label="Text (.md or .html)" prop="text">
        <el-input
          v-model.trim="controls.text"
          type="textarea"
          resize="none"
          :rows="10"
        />
      </el-form-item>

      <div class="mb">
        <small class="mr">
          <i class="el-icon-time"></i>
          {{ new Date(post.date).toLocaleString() }}
        </small>
        <small>
          <i class="el-icon-view"></i>
          {{ post.views }}
        </small>
      </div>

      <el-form-item>
        <el-button type="primary" :loading="loading" round native-type="submit">
          Update
        </el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  name: 'AdminPostDetail',
  layout: 'admin',
  async asyncData({ store, params }) {
    const post = await store.dispatch('post/fetchAdminPost', params.id)
    return { post }
  },
  data() {
    return {
      loading: false,
      controls: {
        text: '',
      },
      rules: {
        text: [
          {
            required: true,
            message: 'Please enter your text',
            trigger: 'blur',
          },
        ],
      },
    }
  },
  mounted() {
    this.controls.text = this.post.text
  },
  validate({ params }) {
    return !!params.id
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          this.loading = true
          const formData = {
            text: this.controls.text,
            id: this.post._id,
          }
          try {
            await this.$store.dispatch('post/update', formData)
            this.$message.success('Post updated!')
          } catch (error) {
            this.$message.error('Could not update post')
          } finally {
            this.loading = false
          }
        } else {
          return false
        }
      })
    },
  },
  head() {
    return {
      title: `Post | ${this.post.title}`,
    }
  },
}
</script>

<style lang="scss">
.admin-post {
  max-width: 600px;
}
</style>
