<template>
  <div class="admin">
    <el-container :style="{ height: '100%' }">
      <el-aside width="250px">
        <AdminAside />
      </el-aside>
      <el-main>
        <nuxt />
      </el-main>
    </el-container>
  </div>
</template>

<script>
export default {
  name: 'AdminLayout',
  middleware: ['admin-auth'],
  computed: {
    error() {
      return this.$store.getters.error
    },
  },
  watch: {
    error(value) {
      this.$message.error(value.response.data.message)
    },
  },
}
</script>

<style lang="scss">
.admin {
  width: 100%;
  height: 100vh;
}
</style>
