<template>
  <div class="error-layout">
    <div class="error-layout__content">
      <h1 class="error-layout__title">404</h1>
      <nuxt-link to="/">Go home</nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Error',
}
</script>

<style lang="scss">
.error-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__content {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    color: red;
    margin-bottom: 1rem;
  }
}
</style>
